/* ===== Toyota Prius 3rd Gen Connector Color Code (Optimized Readable) ===== */

span.A15, span.A18, span.A2, span.A28, span.A29, span.A30, span.A32, span.A34, span.A35, span.A53, span.A54, span.A55, span.A57, span.D1, span.D10, span.D11, span.D12, span.D13, span.D14, span.D16, span.D18, span.D2, span.D27, span.D28, span.D29, span.D3, span.D4, span.D5, span.D6, span.D8, span.G2, span.H1, span.I1, span.L101, span.L12, span.L20, span.L29, span.L4, span.L43, span.L52, span.L57, span.L78, span.L87, span.L88, span.L89, span.R13, span.R14, span.R30, span.R6, span.S10, span.S11, span.S5, span.V14, span.W3, span.W4, span.W7, span.f2, span.g1, span.z1, span.z10, span.z2, span.z7, span.z9 {
  font-family: Geneva, Verdana, sans-serif;
  color: #000000;
  text-shadow: 0px 1px 2px #000000, 0px 0px 1px #000000;
  font-weight: bold;
}

span.A45, span.A8, span.L16, span.L53, span.R1, span.R3, span.R7, span.R9, span.S1, span.S4, span.S6, span.S8 {
  font-family: Geneva, Verdana, sans-serif;
  color: #FFFF00;
  text-shadow: 0px 1px 1px #FDDA0D, 1px 1px 1px #8B8000;
}

span.A10, span.A22, span.A39, span.A58, span.D15, span.D17, span.D25, span.D26, span.D7, span.D9, span.L5, span.L6, span.S16, span.W1, span.W2, span.W5, span.W6, span.z3, span.z4 {
  font-family: Geneva, Verdana, sans-serif;
  color: #808080;
  text-shadow: 0px 1px 2px #71797E, 1px 1px 1px #71797E;
  font-weight: bold;
}

span.A17 {
  font-family: Geneva, Verdana, sans-serif;
  color: #808080;
  text-shadow: 0px 2px 2px #71797E, 1px 1px 2px #71797E;
  font-weight: bold;
}

span.A21 {
  font-family: Geneva, Verdana, sans-serif;
  color: #808080;
  text-shadow: 0px 1px 2px #71797E, 1px 1px 1px #000000;
  font-weight: bold;
}

span.A23, span.A24, span.A25, span.A26, span.A33, span.A48, span.A50, span.A51, span.A56, span.E2, span.L10, span.L11, span.L18, span.L19, span.L27, span.L31, span.L41, span.L47, span.L48, span.L50, span.L51, span.L59, span.L60, span.L61, span.L62, span.L63, span.L7, span.L8, span.L85, span.L92, span.L93, span.L94, span.L95, span.M2, span.N3, span.N8, span.N9, span.O3, span.O8, span.P1, span.Q1, span.R10, span.R17, span.R18, span.R19, span.R23, span.R28, span.R29, span.R31, span.R4, span.S15, span.S18, span.S20, span.U13, span.V4, span.b1, span.dd1, span.z5, span.z6 {
  font-family: Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #000000, 2px 2px 5px #000000;
  font-weight: bold;
}

span.C3, span.C5 {
  font-family: Geneva, Verdana, sans-serif;
  color: #808080;
  text-shadow: 0px 1px 1px #71797E, 0px 0px 1px #71797E;
  font-weight: bold;
}

span.D24, span.R11 {
  font-family: Geneva, Verdana, sans-serif;
  color: #A9A9A9;
  text-shadow: 0px 1px 1px #71797E, 1px 1px 1px #71797E;
  font-weight: bold;
}

span.E1, span.H2, span.z8 {
  font-family: Geneva, Verdana, sans-serif;
  color: #FFA500;
  text-shadow: 0px 1px 1px #E49B0F, 1px 1px 1px #CC7722;
}

span.L102, span.L46, span.L55, span.S12 {
  font-family: Geneva, Verdana, sans-serif;
  color: #0000FF;
  text-shadow: 0px 1px 2px #00008B, 0px 0px 1px #00008B;
}

span.ee1, span.f1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #FFA500;
  text-shadow: 0px 1px 1px #E49B0F, 1px 1px 1px #000000;
  font-weight: bold;
}

span.ee2 {
  font-family: Geneva, Verdana, sans-serif;
  color: #000000;
  text-shadow: 0px 1px 2px #000000, 1px 1px 1px #000000;
  font-weight: bold;
}

span.A1A, span.A2A, span.A3A, span.A4A, span.B1B, span.B2B, span.B3B, span.B4B, span.C2C, span.D2D, span.G1G, span.H1H {
  font-family: Geneva, Verdana,sans-serif;
  color: #FFFFFF;
  background-color:#C0C0C0;
  text-shadow: 0px 0px 5px #000000, 2px 2px 5px #000000;
  font-weight: bold;
  border: 2px solid #71797E;
  border-radius: 10px;
  padding: 1px;
}

span.AL1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #0000FF;
  text-shadow: 0px 1px 2px #00008B, 0px 0px 1px #00008B;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 1px;
}

span.AL2, span.dV1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #808080;
  text-shadow: 0px 1px 2px #71797E, 0px 0px 1px #71797E;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 1px;
}

span.AL3, span.AL8, span.AR1, span.AS1, span.DA1, span.DA2, span.IM1, span.LI2, span.LL1, span.LR1, span.LR2, span.LS1, span.Lb1, span.Lz1, span.NL1, span.NL2, span.OL1, span.OL2, span.PS1, span.QR1, span.VR1, span.zN1, span.zO1, span.zR1, span.zS1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #000000, 2px 2px 5px #000000;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 1px;
}

span.AL4, span.AL7, span.Ag1, span.CA1, span.GD1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #000000;
  text-shadow: 0px 1px 1px #000000, 1px 1px 2px #000000;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 1px;
}

span.AL6, span.AL9, span.LH1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #FFFF00;
  text-shadow: 0px 1px 1px #FDDA0D, 1px 1px 1px #8B8000;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 1px;
}

span.LI1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #000000;
  text-shadow: 0px 0px 5px #000000, 2px 2px 5px #000000;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 1px;
}

span.SW1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #808080;
  text-shadow: 0px 1px 1px #71797E, 1px 1px 1px #71797E;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 1px;
}

span.UL1 {
  font-family: Geneva, Verdana, sans-serif;
  color: #808080;
  text-shadow: 0px 2px 2px #71797E, 1px 1px 2px #71797E;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 1px;
}

